<md-card>
  <h1>Photos</h1>
  <div id="image-carousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li *ngFor="let image of imageSourcesObservable | async; let i = index"
          data-target="#image-carousel" [attr.data-slide-to]="i"
          [attr.class]="i === 0 ? 'active' : null"></li>
    </ol>

    <div class="carousel-inner">
      <div *ngFor="let image of imageSourcesObservable | async; let i = index"
           [attr.class]="i === 0 ? 'carousel-item active' : 'carousel-item'">
        <img src="{{ image.uri }}" alt="{{ image.description }}" class="d-block w-100">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#image-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#image-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</md-card>
