body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

md-card {
  max-width: 80%;
  margin: 2em auto;
}

md-toolbar-row {
  justify-content: space-between;
}

#home {
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.image {
  width: 100%;
  height: 100%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}
