<md-card>
  <a id="reservation-new" href="/reservation/new" onclick="return false;" class="btn btn-default" (click)="newReservation()">Submit a new reservation</a>
</md-card>

<md-card *ngFor="let reservation of reservationsObservable | async" id="reservations-{{ reservation.id }}">
  <h4>Reservation <code>#{{ reservation.id }}</code></h4>
  <hr/>
  <h5>From</h5>
  <p>{{ formatDate(reservation.from) }}</p>
  <h5>To</h5>
  <p>{{ formatDate(reservation.to) }}</p>
  <div *ngIf="reservation.floor">
    <h5>Floor</h5>
    <p>{{ reservation.floor }}</p>
  </div>
  <div *ngIf="reservation.message">
    <h5>Message:</h5>
    <p *ngIf="reservation.message !== null">{{ reservation.message }}</p>
  </div>
  <div id="customer-{{ reservation.id }}">
    <h5>Customer</h5>
    <ul>
      <li>{{ reservation.customer.firstName }} {{ reservation.customer.lastName }}</li>
      <li *ngIf="reservation.customer.emailAddress">{{ reservation.customer.emailAddress }}</li>
      <li *ngIf="reservation.customer.phoneNumber">{{ reservation.customer.phoneNumber }}</li>
    </ul>
  </div>
</md-card>
