<md-card>
  <h1>Contact us</h1>
  <hr/>
  <div class="row">
    <div class="col-6" [hidden]="emailSent">
      <form #form="ngForm" (ngSubmit)="submit(form)" novalidate>
        <div class="row">
          <div class="col-6">
            <label for="contactEmail">Your email</label>
            <input #from="ngModel" class="form-control" type="email" id="contactEmail" name="from" ngModel required emailAddress>
          </div>
          <div class="col-6">
            <label for="subject">Subject</label>
            <input #subject="ngModel" class="form-control" type="text" id="subject" name="subject" ngModel required>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label for="message">Message</label>
            <textarea #message="ngModel" class="form-control" id="message" name="message" ngModel required></textarea>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <input type="submit" class="btn btn-default" value="Submit" [disabled]="!form.valid">
          </div>
        </div>
      </form>
    </div>
    <div class="col-6" [hidden]="!emailSent">
      <p>Thank you for contacting us! We have received your mail and will answer you as fast as we can.</p>
    </div>
    <div class="col-6">
      <h1>About us</h1>
      <p>Feel free to message us if you have questions or suggestions.</p>
      <h1>FAQ</h1>
      <ul>
        <li>
          <h1>How does this contact form work?</h1>
          <p>Enter your email, a subject and a message, we will answer you within a day or two.</p>
        </li>
        <li>
          <h1>How do you handle my private information?</h1>
          <p>We do not share your private information like your email address and the message you sent us.</p>
        </li>
        <li>
          <h1>Can I book a reservation here?</h1>
          <p>No, we have a <a href="/reservation">separate booking</a> section where you can plan your holiday.</p>
        </li>
      </ul>
    </div>
  </div>
</md-card>
