<md-card>
  <h1>New reservation</h1>
  <hr/>
  <div class="row" [hidden]="!success">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="submit(form)" novalidate toAfterFrom>
        <div class="row">
          <div class="col-6">
            <label for="from">From</label>
            <input #from="ngModel" class="form-control" type="date" id="from" name="from" ngModel required/>
          </div>
          <div class="col-6">
            <label for="to">To</label>
            <input class="form-control" type="date" id="to" name="to" ngModel required/>
          </div>
        </div>
        <div ngModelGroup="customer">
          <div class="row mt-2">
            <div class="col-6">
              <label for="firstName">First name</label>
              <input #firstName="ngModel" class="form-control" type="text" id="firstName" name="firstName" ngModel
                     required/>
            </div>
            <div class="col-6">
              <label for="lastName">Last name</label>
              <input #lastName="ngModel" class="form-control" type="text" id="lastName" name="lastName" ngModel
                     required/>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-6">
              <label for="email">Email address</label>
              <input #email="ngModel" class="form-control" type="email" id="email" name="email" ngModel required
                     emailAddress/>
            </div>
            <div class="col-6">
              <label for="phoneNumber">Phone number</label>
              <input #phoneNumber="ngModel" class="form-control" type="text" id="phoneNumber" name="phoneNumber"
                     ngModel required phoneNumber/>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label for="floor">Select floor:</label>
            <select class="form-control" id="floor">
              <option *ngFor="let floor of floors">{{ floor }}</option>
            </select>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label>Extras</label>
            <div class="checkbox" *ngFor="let extra of extras">
              <label for="checkbox_{{ extra.id }}"><input type="checkbox" id="checkbox_{{ extra.id }}" [checked]="extra.defaultValue">&nbsp;{{ extra.name }}</label>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label for="message">Message (Optional)</label>
            <textarea #message class="form-control" id="message" name="message" ngModel></textarea>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <input type="submit" class="btn btn-default" value="Submit" [disabled]="!form.valid">
          </div>
        </div>
      </form>
    </div>
    <div class="col-6" [hidden]="success">
      <p>An error occurred. Please try again later.</p>
    </div>
  </div>
</md-card>
