<md-card *ngFor="let imageSection of imageSections">
  <h1>{{imageSection.title}}</h1>
  <div class="row">
    <div *ngFor="let imageSource of imageSection.images" class="col-12 col-md-6">
      <img class="image" src="{{imageSource}}"/>
    </div>
  </div>
</md-card>
