<md-sidenav-container fullscreen>
  <md-sidenav #sidenav opened="false" mode="sideNavMode">
    <md-nav-list>
      <ng-template ngFor let-view [ngForOf]="views" let-even="even" let-odd="odd" let-rowIndex="index">
        <a md-list-item [routerLink]="view.link" routerLinkActive="active-link" (click)="mobile ? sidenav.close() : {}">
          <md-icon md-list-icon class="material-icons">{{view.icon}}</md-icon>
          <span md-line>{{view.name}}</span>
          <span md-line class="secondary">{{view.description}}</span>
        </a>
      </ng-template>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    Hotel-Website
  </md-toolbar>
  <md-card id="my-page-card">
    <router-outlet (activate)="activateEvent($event)" (deactivate)="deactivateEvent($event)"></router-outlet>
  </md-card>
</md-sidenav-container>
